.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.header_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar {
    background-color: white;
    color: gray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 40px;
    width: 500px;
    z-index: 4;
    position: relative;
}

.searchresult {
    background-color: white;
    color: gray;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 500px;
    width: 500px;
    z-index: 3;
    position: absolute;
    top: 30px;
    /* display: none; */
}

.searchbar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    margin-left: 10px;
    width: 100%;
}

.header_right {
    display: flex;
    height: 30px;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 30px;
}

.header_right p {
    margin: 0px 10px;
}

.userimg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}


.searchresult {
    padding-top: 20px;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.searchresult-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.searchresult-item img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.searchresult-info h1 {
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
}